name: Update Overview Deck
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - name: Set up Python 3.x
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r overview_deck/requirements.txt
    - name: Run build
      run: |
        python overview_deck/build.py
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
         token: ${{ secrets.PAT }}
         branch-suffix: timestamp
         path: .
         title: Update Overview Decks
         labels: automerge
         commit-message: Update Data Sources
         signoff: true
